<!DOCTYPE html>
<html class="no-js" lang="zxx">
<%- include('../includes/head.ejs')%>

  <body>
    <!--? Preloader Start -->
    <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
            <img src="/assets/img/logo/logo.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader Start -->
    <%- include('../includes/header.ejs') %>
      <main>
        <!-- Hero Area Start-->
        <div class="slider-area">
          <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div class="col-xl-12">
                  <div class="hero-cap text-center">
                    <h2>Watch Shop</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Hero Area End-->
        <!-- Latest Products Start -->
        <section class="popular-items latest-padding">
          <div class="container">
            <div class="row product-btn justify-content-between mb-40">
              <div class="properties__button">
                <!--Nav Button  -->
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                      aria-controls="nav-home" aria-selected="true">Quartz</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                      aria-controls="nav-profile" aria-selected="false">Automatic</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                      aria-controls="nav-contact" aria-selected="false">Eco_Drive
                    </a>
                  </div>
                </nav>
                <!--End Nav Button  -->
              </div>
              <!-- Grid and List view -->
              <div class="grid-list-view"></div>
              <!-- Select items -->
            </div>
            <!-- Nav Card -->
            <div class="tab-content" id="nav-tabContent">
              <!-- card one -->
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                  <% if(prods.length> 0) { prods.map((prods,i) =>{
                    if(prods.ProductType == "Quartz") {%>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                      <div class="single-popular-items mb-50 text-center">
                        <a href="<%- '/shopDetail/'+prods._id%>">
                        <div class="popular-img">
                          <img src="<%-prods.path %>" alt=""  />
                          <div class="img-cap">
                            <span>Add to cart</span>
                          </div>
                          <div class="favorit-items">
                            <span class="flaticon-heart"></span>
                          </div>
                        </div>
                        </a>
                        <div class="popular-caption">
                          <h3>
                            <a href="product_details.html">
                              <%-prods.product_name %>
                            </a> 
                          </h3>
                          <span>
                            <%- prods.price%>
                          </span>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% })%>
                        <%} %>
                </div>
              </div>
              <!-- Card two -->
              <div class="tab-pane fade show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row">
                  <% if(prods.length> 0) { prods.map((prods,i) =>{
                    if(prods.ProductType == "Automatic") {%>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                      <div class="single-popular-items mb-50 text-center">
                        <a href="<%- '/shopDetail/'+prods._id%>">
                          <div class="popular-img">
                            <img src="<%-prods.path %>" alt=""  />
                            <div class="img-cap">
                              <span>Add to cart</span>
                            </div>
                            <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                            </div>
                          </div>
                          </a>
                        <div class="popular-caption">
                          <h3>
                            <a href="product_details.html">
                              <%- prods.product_name %>
                            </a>
                          </h3>
                          <span>
                            <%- prods.price%>
                          </span>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% })%>
                        <%} %>
                </div>
              </div>
              <!-- Card three -->
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <% if(prods.length> 0) { prods.map((prods,i) =>{
                    if(prods.ProductType == "Eco_Drive") {%>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                      <div class="single-popular-items mb-50 text-center">
                        <a href="<%- '/shopDetail/'+prods._id%>">
                          <div class="popular-img">
                            <img src="<%-prods.path %>" alt=""  />
                            <div class="img-cap">
                              <span>Add to cart</span>
                            </div>
                            <div class="favorit-items">
                              <span class="flaticon-heart"></span>
                            </div>
                          </div>
                          </a>
                        <div class="popular-caption">
                          <h3>
                            <a href="product_details.html">
                              <%- prods.product_name %>
                            </a>
                          </h3>
                          <span>
                            <%- prods.price%>
                          </span>
                        </div>
                      </div>
                    </div>
                    <% } %>
                      <% })%>
                        <%} %>
                </div>
              </div>
              <!-- End Nav Card -->
            </div>
        </section>
        <!-- Latest Products End -->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
          <div class="container">
            <div class="method-wrapper">
              <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="single-method mb-40">
                    <i class="ti-package"></i>
                    <h6>Free Shipping Method</h6>
                    <p>
                      aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="single-method mb-40">
                    <i class="ti-unlock"></i>
                    <h6>Secure Payment System</h6>
                    <p>
                      aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="single-method mb-40">
                    <i class="ti-reload"></i>
                    <h6>Secure Payment System</h6>
                    <p>
                      aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Shop Method End-->
      </main>
      <%- include('../includes/footer.ejs') %>
        <!--? Search model Begin -->
        <div class="search-model-box">
          <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
              <input type="text" id="search-input" placeholder="Searching key....." />
            </form>
          </div>
        </div>
        <!-- Search model end -->

        <!-- JS here -->
        <%- include('../includes/JS_here.ejs') %>
  </body>

</html>